a {
  color: white;
}

a:visited {
  color: skyblue;
}

a:hover {
  color: transparent;
}

a:focus {
  color: darkgrey;
}

a:active {
  color: blue;
}

a[href^="#"] {
color: white;
}

a[href^="http"] {
  color: white;
}
