* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #8421FF;
  background-image: linear-gradient(to left top, #F4B9F5, #8421FF);
  background-size:cover;
  margin: 0;
}

h1 {
  background-color: #1a1a2c;
  color: #F4B9F5;
}

h2 {
  border: 5px solid #45177D;
  border-radius: 20px;
  padding: .75em;
  margin: 1em;
  text-decoration: underline;
}

h3 {
  border: 2.5px solid #F4B9F5;
  padding: 1em;
}

p {
  margin: 1em 2em 1em 2em;
  color: #000;
  font-size: 15px;
}

#navbar {
  position: fixed;
  top: 0;
  background-color: #333;
  display: table;
  width: 100%;
  padding: 10px;
}

.nav-left {
  float: left;
  display: table-row;
}

.nav-right {
  float: right;
  display: table-row;
}

nav ul li {
  display: table-cell;
  border: 1px solid black;
  border-radius: 5px;
  margin: .25rem;
  padding: .25rem;
}

button {
  background-color: #333;
  color: #ddd;
  border-radius: 5px;
}

nav ul li a,
button a {
  color: #ddd;
  text-decoration: none;
}

.content {
  padding-top: 40px;
}

p.taylor {
  background-color: #FAD397;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 5px;
}

p.taylor span {
  font-size: 2em;
  font-style: italic;
}

h2, h3 {
  color: #1a1a2c;
  background-color: #F4B9F5;
}

li > span {
  font-weight: bold;
  font-style: italic;
}

img {
  width: 200px;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  margin: 25px;
}
